#root {
  margin: 0 0;
  text-align: center;
  width: 100%;
}

@font-face {
    font-family: 'DIN';
    src: url('./fonts/din.ttf') format('truetype');
}

h1 {
  color: mintcream;
  font-family: "DIN";
  font-weight: normal;
}

p {
  color: mintcream;
}